{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<!-- CONTENT -->
<section>
	<div class="container">

		<!-- BORN TO BE A WINNER -->
		<article class="row">
			<div class="col-md-6">
				<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
					<div>
						<img class="img-responsive" src="{% static 'assets/images/bospas/piet_daughters.jpg' %}" width="555" height="311" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'assets/images/bospas/training_course.jpg' %}" width="555" height="311" alt="">
					</div>
					<div>
						<img class="img-responsive" src="{% static 'assets/images/bospas/naomi_hills.jpg' %}" width="555" height="311" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3>
					About us and our Parque de Bamboo
				</h3>
				<p>Parque Bambú - formerly named Bosque de Paz – was established in 1995 on a completely deforested and eroded hillside, on the western slopes of the Andes in Ecuador.
				My name is Piet Sabbe, I am from Europe (Belgium) and have been living in Ecuador since 1990. In 1995, I bought a 15 hectare property at 1000 m above sea level, in the subtropical valley of the Mira river.
				Along the lower boundary of the domain flows the Guallupe river which discharges into the Mira river.
				Due to many years of bad agriculture practices, deforestation and severe erosion, the property I bought had been depleted of topsoil. Geared with the principles of Permaculture (elaborated by Bill Mollison and David Holmgren) and the design with Key Line (elaborated by Yeomans), I set out on the long process of rehabilitating the land.
				Now, after 20 years, a lush forest and agriculture plots cover the property.
				Welcome to Parque Bambú are all those people who want to learn about Ecological Restoration, Land Rehabilitation, Permaculture, Landscape Design with Key Line and Reforestation; or people who simply want to relax in a reserve of vibrant green.
				Myself, my daughters Naomi and Maykin or one of the co-workers may be your guide.</p>
			</div>
		</article>
		<!-- /BORN TO BE A WINNER -->


		<hr />


		<h3>Epona Progress</h3>

		<!-- Timeline -->
		<div class="timeline">
			<div class="timeline-left">

				<div class="item">
					<h4><b>2014</b></h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				</div>

				<div class="item">
					<h4><b>2013</b></h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
				</div>

				<div class="item">
					<h4><b>2012</b></h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
				</div>

				<div class="item">
					<h4><b>2011</b></h4>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
					
					<div class="row">
					
						<div class="col-md-3">
							<img class="img-responsive" src="{% static 'assets/images/demo/other/o1.jpg' %}" alt="" />
						</div>

						<div class="col-md-3">
							<img class="img-responsive" src="{% static 'assets/images/demo/other/o2.jpg' %}" alt="" />
						</div>

						<div class="col-md-3">
							<img class="img-responsive" src="{% static 'assets/images/demo/other/o3.jpg' %}" alt="" />
						</div>

						<div class="col-md-3">
							<img class="img-responsive" src="{% static 'assets/images/demo/other/o4.jpg' %}" alt="" />
						</div>

					</div>

				</div>

			</div>
		</div>
		<!-- /Timeline -->
	</div>
</section>
<!-- /CONTENT -->
{% endblock content %}