{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner" data-height="500">
					<ul class="hide">
						
						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="14"  data-masterspeed="300" data-delay="10000">

							<!-- COVER IMAGE -->
							<img src="assets/images/1x1.png" data-lazyload="{% static 'assets/images/bospas/house_bamboo.jpg' %}" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

							<div class="tp-caption medium_text sft stb"
								data-x="30"
								data-y="325"
								data-speed="600"
								data-start="2000"
								data-easing="easeOutExpo">Permaculture Farmstay
							</div>

							<div class="tp-caption large_bold_white sft stb"
								data-x="30"
								data-y="350"
								data-speed="600"
								data-start="3000"
								data-easing="easeOutExpo">in Ecuador
							</div>

							<!--

							<div class="tp-caption small_light_white sft stb"
								data-x="76"
								data-y="286"
								data-speed="500"
								data-start="2000"
								data-easing="easeOutExpo">Check Epona included features and options
							</div>

							-->
						</li>

						<!-- SLIDE  
						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.stepofweb.com/" data-target="_blank" data-saveperformance="off" >

							<img src="assets/images/1x1.png" data-lazyload="{% static 'assets/images/bospas/parque_restortation.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

							<div class="tp-caption block_black sfl tp-resizeme" 
								data-x="70" 
								data-y="100" 
								data-speed="750" 
								data-start="1000" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">Ecological Restortation
							</div>

							<div class="tp-caption block_black sfl tp-resizeme" 
								data-x="70" 
								data-y="150" 
								data-speed="750" 
								data-start="1400" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">At the bottom of the valley of the Guallupe River in Ecuador
							</div>

							
							<div class="tp-caption block_black sfr tp-resizeme" 
								data-x="70" 
								data-y="260" 
								data-speed="750" 
								data-start="1800" 
								data-easing="easeOutExpo" 
								data-splitin="none" 
								data-splitout="none" 
								data-elementdelay="0.1" 
								data-endelementdelay="0.1" 
								data-endspeed="300">Premium Sliders That Are Easy To Use With Any Content
							</div>
							
						</li>
						<! SLIDE  
						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.stepofweb.com/" data-target="_blank" data-saveperformance="off" >

							<img src="assets/images/1x1.png" data-lazyload="{% static 'assets/images/bospas/piet_daughters.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />
						</li>
						-->
					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->

			<!-- WELCOME -->
			<section>
				<div class="container">

					<!-- FEATURED BOXES 3 -->
					<div class="row featured-box-minimal">

						<div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-2 col-sm-offset-1">
							<h4><i class="fa fa-circle-o"></i> English </h4>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<h4><i class="fa fa-comment"></i> Español</h4>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<h4><i class="fa fa-comment fa-flip-horizontal"></i> Dutch</h4>
						</div>

					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
			<!-- /WELCOME -->
			
{% endblock content %}
