{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}


<!-- CONTENT -->
<section>
	<div class="container">
	
		<div id="blog" class="row">

			<!-- ARTICLE -->
			<div class="col-md-9 col-sm-9">

				<div class="row">

					<!-- image -->
					<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h9.jpg' %}" class="img-responsive" alt="img" />
					<!-- /image -->

					<!-- article content -->
					<article>
						<br>
						<p class="dropcap">Diseño Hidrológico

						El Valle del Río Mira, donde está ubicado Parque Bambú, alguna vez estuve cubierto de un denso bosque nublado. La reforma agraria, iniciada en los 1960 por el estado, obligó a los colonos invasores deforestar sin reparo este paisaje, como condición para obtener el título de propiedad de su terreno.
						Esta intervención del hombre con sus prácticas de agricultura de explotación, sin respeto al patrimonio biológico (vegetación, tierra y agua) convirtieron estos hermosos parajes en áreas desoladas sin árboles ni cobertura alguna, destruyendo la fertilidad de la tierra y provocando su pérdida por la erosión.
						Hoy en día, solo en las partes más altas e inaccesibles aún se encuentran remanentes del bosque nublado primario. No obstante, también estos remanentes están amenazados debido a los incendios forestales, provocados por los ganaderos, en busca de más terreno para instalar sus potreros. 
						Nadie, ni los moradores del sector, ni las autoridades locales entienden la importancia que tiene la vegetación. Peor, como herencia de la reforma agraria, hasta hoy día – 60 años después – se considera como una pérdida de tiempo o una locura de plantar un árbol. Consideran que el árbol, los bosques forman un obstáculo
						para la agricultura, razón por lo cual le dan un nombre depreciable ´monte´ a la vegetación.
						Es curioso que estos mismos agricultores, que tanto desprecian el entorno vegetal natural, se quejen de la baja producción de sus terrenos. Donde antes cosecharon 20 a 25 costales de frejol, hoy cosechan 6 a 8 costales. Es decir que no ven la relación entre la destrucción del ambiente y de la biodiversidad como la causa de la pérdida de productividad de la tierra. (FOTO Montaña pelada + incendio.) <br><br></p>

						<div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "autoPlay": false, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/destruccion_1.jpg' %}" class="img-responsive" alt="img"/>
							</div>
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/destruccion_2.jpg' %}" class="img-responsive" alt="img"/>
							</div>
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/destruccion_3.jpg' %}" class="img-responsive" alt="img"/>
							</div>
						</div>

						<p>
						Para trabajar en armonía con la naturaleza, primero hay que observarla. Uno de sus aspectos más importantes es justamente el agua y su relación con la tierra. La planificación y diseño hidrológico consiste en una serie de principios, técnicas y sistemas que se utilizan para coordinar un plan de desarrollo rural que redunda en la regeneración / restauración de las tierra y el paisaje. 
						Los principios del diseño hidrológico tienen su origen en Australia, donde P.A. Yeomans elaboró el concepto Keyline (línea clave) – Keypoint (punto clave) e inspiraron a Bill Mollison y David Holmgren a conceptualizar la permacultura. 
						La agricultura ecológica (permacultura) en combinación con el diseño hidrológico (línea clave), le confieren al campesino el conocimiento y sabiduría necesarias para entender y respetar las leyes de la naturaleza y trabajar con ella, no en su contra. <br><br>

						El agricultor que considera sus tierras como un organismo vivo del que dependemos todos los seres y comprende el papel tan decisivo que tienen los microorganismos y la materia orgánica en el suelo, da el primer paso para el manejo de los equilibrios naturales, encaminados a mantener los cultivos sanos. 
						Con el diseño hidrológico se elimina por completo la erosión, se incrementa la biomasa y se mantiene los minerales en el suelo. <br><br>

						Pasos en la aplicación del diseño para cosechar agua, tierra y carbono en cualquier terreno:<br>

						</p>

						<p class ="dropcap">
						1. Entender la topografía del terreno, señalar las características del paisaje. Saber interpretar las curvas a nivel en un mapa y trazarlas en el terreno. Diferenciar entre laderas y quebradas.
						</p>


						<div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "autoPlay": false, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h1.jpg' %}" class="img-responsive" alt="img"/>
							</div>
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h2.jpg' %}" class="img-responsive" alt="img"/>
							</div>
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h3.jpg' %}" class="img-responsive" alt="img"/>
							</div>
						</div>

						<!--(Foto trabajada con microcuencas etc., Mapa con curvas a nivel. Foto con laderas y quebradas.) -->
						<p class ="dropcap">
						2. Seleccionar el lugar idóneo para iniciar el proyecto, en base a las fuentes de agua o puntos de captación de agua de lluvia (Keypoint - punto clave).
						</p>

						<!--(Foto trabajada)-->
						<div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "autoPlay": false, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h4.jpg' %}" class="img-responsive" alt="img"/>
							</div>
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h5.png' %}" class="img-responsive" alt="img"/>
							</div>
						</div>

						<p class ="dropcap">
						3. Desde los puntos clave construir el canal (o zanja) de desviación y reforzar el borde con Vetiver (Keyline - línea calve).
						Grafico y foto con Vetiver. 
						</p>
						<div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "autoPlay": false, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h6.jpg' %}" class="img-responsive" alt="img"/>
							</div>
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h7.png' %}" class="img-responsive" alt="img"/>
							</div>
						</div>
						<!--Foto con aparato en A. -->
						<p class =  "dropcap">
						4. Sembrar barreras vivas e líneas espaciados a lo largo de las curvas a nivel. Los árboles son un factor indispensable para la vida, la armonía y el enriquecimiento de las propiedades y el paisaje en general. 
						Toda propiedad debería tener por lo menos un 30 % de su área cubierta de árboles, ya que acumula agua, nos provee madera, combustible, fruta, vida silvestre, miel, herramientas, entre otras muchas cosas. </p>

						<div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "autoPlay": false, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h8.jpg' %}" class="img-responsive" alt="img"/>
							</div>
							<div class="item">
								<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h10.jpg' %}" class="img-responsive" alt="img"/>
							</div>
						</div>
					</article>
		
					<hr class="half-margins invisible" />
				</div>

			</div>
			<!-- /ARTICLE -->

			<!-- SIDEBAR -->
			<div class="col-md-3 col-sm-3">

				<!-- JUSTIFIED TAB -->
				<div class="tabs nomargin">

					<!-- tabs content -->
					<div class="tab-content">

						<!-- POPULAR -->
						<div id="tab_1" class="tab-pane active">

							<div class="row tab-post"><!-- post -->
								<div class="col-md-3 col-sm-3 col-xs-3">
									<a class = "active" href="#">
										<img src="{% static 'assets/images/bospas/diseno_hidrologico/diseno_h9.jpg' %}" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-9 col-sm-9 col-xs-9">
									<a href="#" class="tab-post-link active">Diseño Hidrológico</a>
								</div>
							</div><!-- /post -->

							<div class="row tab-post"><!-- post -->
								<div class="col-md-3 col-sm-3 col-xs-3">
									<a href="#">
										<img src="{% static 'assets/images/demo/portfolio/thumb/a2.jpg' %}" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-9 col-sm-9 col-xs-9">
									<a href="#" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
									<small>June 29 2014</small>
								</div>
							</div><!-- /post -->

							<div class="row tab-post"><!-- post -->
								<div class="col-md-3 col-sm-3 col-xs-3">
									<a href="#">
										<img src="{% static 'assets/images/demo/portfolio/thumb/a3.jpg' %}" width="50" alt="" />
									</a>
								</div>
								<div class="col-md-9 col-sm-9 col-xs-9">
									<a href="#" class="tab-post-link">Nam et lacus neque. Ut enim massa, sodales</a>
									<small>June 29 2014</small>
								</div>
							</div><!-- /post -->

						</div>
						<!-- /POPULAR -->
					</div>
				</div>
				<!-- JUSTIFIED TAB -->

			</div>
			<!-- /SIDEBAR -->
		</div>	
	</div>
</section>
<!-- /CONTENT -->


{% endblock content %}